services:
  backend:
    build: ./backend  
    image: sohanlal33/devops-backend:v1.0.0
    container_name: django-backend
    restart: always
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    networks:
      - app_network

  frontend:
    build: ./frontend 
    image: sohanlal33/devops-frontend:v1.0.0
    container_name: react-frontend
    restart: always
    ports:
      - "80:8080"
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
