name: CI CD Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/sohanlal33/devops-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/sohanlal33/devops-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy using Docker Compose
        run: |
          set -e
          cd /home/ubuntu/devops-assessment

          echo "Creating runtime .env file..."
          cat > .env <<EOF
          DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}
          DJANGO_DEBUG=${{ secrets.DJANGO_DEBUG }}
          DJANGO_ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }}
          EOF

          ls -l .env
          docker-compose pull
          docker-compose up -d
          sleep 10
          curl -f http://localhost || { echo "Frontend health check failed"; exit 1; }
          curl -f http://localhost:8000/api/hello/ || { echo "Backend health check failed"; exit 1; }
          echo "Deployment completed successfully"

